@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.page {
  max-width: 75vw;
  margin-inline: auto;
  padding: 30px 15px 80px;
  min-height: 100%;
}

ul {
  list-style: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  gap: 16px;

  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.product-card {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.picture-description {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  margin: 8px 0;
}

.picture-description img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card h2 {
  margin: 0;
}

.product-card p {
  margin: 0 0 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.page-number {
  width: fit-content;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 12px;
  font-size: 23px;
  cursor: pointer;
}
